$bg-color: #202236;
$dot-color: #f8f8cb;

* {
    margin: 0;
    padding: 0;
}

body {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bg-color;
    overflow: hidden;

    .container {

        display: flex;
        align-items: center;
        justify-content: center;
        perspective: 1000;
        opacity: 0.55; 
        height: 100vh;

        .starter {

            height: 150px;
            width: 150px;
            border-radius: 50%;
            border: none;
            background-color: rgba(#f8f8cb, 0.8);
            font-family: 'Abril Fatface', cursive;
            font-size: 1.5em;
            color: $bg-color;

            &:hover {

                background-color: rgba(#f8f8cb, 1);

            }

        }

        .dot {

            position: fixed;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: $dot-color;
            border: none;
            visibility: hidden;

        }

    }

}