$bg-color: #202236;
$dot-color: #f8f8cb;

$aniDotDiameter: 30px;
$btnDotDiameter: 150px;
$btnFontSize: 1.5em;

* {
    margin: 0;
    padding: 0;
}

@mixin flex-box-centered {

    display: flex;
    align-items: center;
    justify-content: center;

}

@mixin dot ($diameter) {

    height: $diameter;
    width: $diameter;
    border-radius: 50%;
    border: none;

}

body {

    @include flex-box-centered;

    overflow: hidden;
    background-color: $bg-color;

    .container {

        @include flex-box-centered;

        height: 100vh;

        .starter {

            @include dot ($btnDotDiameter);

            font-size: $btnFontSize;
            font-family: 'Abril Fatface', cursive;
            color: $bg-color;
            background-color: rgba($dot-color, 0.8);

            &:hover {

                background-color: rgba($dot-color, 1);

            }

        }

        .dot {

            @include dot ($aniDotDiameter);

            position: fixed;
            visibility: hidden;
            background-color: $dot-color;

        }

    }

}